@font-face {
  font-family: 'Aeonik';
  src:
    url('/fonts/AeonikTRIAL-Regular.woff2') format('woff2'),
    url('/fonts/AeonikTRIAL-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src:
    url('/fonts/AeonikTRIAL-RegularItalic.woff2') format('woff2'),
    url('/fonts/AeonikTRIAL-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Aeonik';
  src:
    url('/fonts/AeonikTRIAL-Light.woff2') format('woff2'),
    url('/fonts/AeonikTRIAL-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeonik';
  src:
    url('/fonts/AeonikTRIAL-Bold.woff2') format('woff2'),
    url('/fonts/AeonikTRIAL-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
